.formMImpre .img {
	width: 100% !important;
}

.formMImpre .texto table tbody tr td .ui-outputlabel {
	font-size: 25px !important;
}

.formMImpre .texto table tbody tr td {
	border-left: 0px !important;
	border-right: 0px !important;
	padding-right: 200px !important;
}

.formMImpre .texto {
	margin: auto;
	width: 50%;
	padding: 5px;
}

#formCorpo {
	backgrond: black !important;
}